= simple_form_for :subscription,
  url:  plan_subscriptions_path,
  html: { class: 'payola-onestep-subscription-form',
    data: { 'payola-base-path' => payola_path, 'payola-error-selector' => '.payola-error', 'payola-plan-type' => plan.plan_class, 'payola-plan-id' => plan.id } } do |f|
  .form-group
    = f.input :email, label: false, input_html: { 'data-payola' => 'email' , value: current_user.email, type: 'hidden' }
    = f.input :card_number, label: 'Card number', input_html: { class: 'card-number form-control', 'data-stripe' => 'number' , placeholder: '**** **** **** ****', size: '20', type: 'text' }
  .row
    .col-sm-6
      .form-group
        = f.input :exp_date, label: 'Exp', input_html: { class: 'exp-date form-control', 'data-stripe' => 'text' , placeholder: 'MM / YYYY', size: '8', type: 'text' }
        = f.input :exp_month, label: false, input_html: { 'data-stripe' => 'exp_month' , type: 'hidden' }
        = f.input :exp_year, label: false, input_html: { 'data-stripe' => 'exp_year' ,  type: 'hidden' }
    .col-sm-6
      .form-group
        = f.input :cvc, label: 'CVC', input_html: { class: 'form-control', 'data-stripe' => 'cvc' , placeholder: '***', size: '4', type: 'text' }
  .text-center
    = f.button :submit, 'Subscribe', class: 'btn btn-info btn-md', type: 'submit'
  .alert.alert-warning.payola-error{ style: 'display: none' }
